<div class="card">
    <div class="card-body">
        <h5 class="card-title">@SourceMovie.Title (@SourceMovie.Year)</h5>

        @if(SourceMovie.Highlights.Count == 0) {
            <p class="card-text">@SourceMovie.Plot</p>
        } else {
            <p class="card-text">
                @foreach(var h in SourceMovie.Highlights) {
                    @foreach(var hightext in h.Texts) {
                        @if(hightext.ReasonForSplit == "hit") {
                            <span class="highlight-hit">@hightext.Section</span>
                        } else {
                            <span>@hightext.Section</span>
                        }
                    }
                }
            </p>
        }

        @if(ShowMLT) {
            <MLT SourceMovie=@SourceMovie OnMovieClickCallback="@MovieClicked" />
        }

        @if(ShowSearchScore) {
            @if(SourceMovie.SearchScore != null) {
                <div class="card-footer text-muted">
                    Score: @SourceMovie.SearchScore
                </div>
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public Datamodels.Movie SourceMovie {get; set;}
    [Parameter]
    public bool ShowSearchScore {get; set;} = false;
    [Parameter]
    public bool ShowMLT {get; set;} = false;

    [Parameter]
    public EventCallback<string> ChangeSearchCallback { get; set; }

    private async void MovieClicked(string title) {        
        Console.WriteLine("MT - MovieClick " + title);
        await ChangeSearchCallback.InvokeAsync(title);
    }
}